.app {
    height: 100%;
    width: 100%;
    background: linear-gradient(55deg, #0fb8ad 0%, #6e20d4 51%, #491fab 85%);

    .header {
        position: sticky;
        top: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-height: 10vh;
        width: 100%;
        background-color: red;
        z-index: 1000;
        .logo {
            // height: 100%;
            position: relative;
            max-width: 15vw;
        }
        .nav {
            text-align: center;
            nav {
                a {
                    margin: 0 2rem;
                    color: white;
                    text-decoration: none;
                    z-index: 60;
                    &:hover {
                        background-color: purple;
                        opacity: 1;
                    }
                }
            }
            .navBtn {
                // position: relative;
    
                padding: 5px;
                cursor: pointer;
                background: transparent;
                border: none;
                outline: none;
                color: white;
                visibility: hidden;
                max-width: 10vw;
            }
            .responsiveNav {
                transform: none;
            }

        }
  
    }
    .footer {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-items: center;
        width: 100%;
        height: 10;
        nav {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            a {
                font-size: 40px;
                margin: 30px;
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .app {

        .header {
            overflow: hidden;
            .nav {

                nav {
                    position: fixed;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 1.5rem;
                    background-color: purple;
                    background-repeat: no-repeat;
                    background-image: url("./images/nav-bg.jpg");
                    background-position: center center;
                    transition: 1s;
                    transform: translateY(-100vh);
                    .navCloseBtn {
                        position: absolute;
                        top: 2rem;
                        right: 2rem;
                        margin-right: 0;
                    }
                    a {
                        font-size: 1.5rem;
                    }
                }
                .navBtn {
                    visibility: visible;
                    opacity: 1;
                    margin-right: 2rem;
                }
                .responsiveNav {
                    transform: none;
                }
            }
        }

    }
}