@font-face {
    src: url(fonts/neon_vampire.ttf);
    font-family: neonVampire;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    // height: 100vh;
    // background: linear-gradient(55deg, #0fb8ad 0%, #6e20d4 51%, #491fab 85%);
    height: 100%;
    width: 100%;
    overflow: auto;
    background: #6e20df;
    font-family: neonVampire;
}
  
code {
font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

}
  